body,div,padding,input,p,img{
    margin:0;
    padding:0;
    border:0;
}

body,html{
    height:100%;
    width:100%;
    background:#333333;
    color:#DDD;
	font: 1em Consolas, monaco, monospace;
}

a:link, a:visited{
    color:#DDD;
}

div#header{
	margin-top:1%;
}

.nav_left{
  float:left;
  text-align:left;
  width:40%;
}

.nav_center{
  float:center;
  text-align:center;
  width:40%;
}

.nav_right{
  float: right;
  text-align:right;
  width:40%;
}


div#footer{
  margin-top:3%
  margin-bottom:3%
	text-align:center;
}

div.topic_header{
	color: #7CFC11;
	margin-top:2%;
}

div.body_text{
	margin-left:5%;
}

div.body_description{
  margin-left:5%
}
